# Practise *№2*
# Студента групи МІТ-31 - підгрупа 1
# **Зименка Данііла Миколайовича**

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
dataset = pd.read_csv('train.csv')
# dataset.shape
dataTest = pd.read_csv('test.csv')

Відображаємо записи

In [45]:
dataset.head()

          X          y
0  0.899058  32.707516
1 -0.736311 -37.159065
2  0.645475  23.180966
3  0.012722   0.284512
4 -1.817424 -78.417180

In [46]:
dataset.describe()

                X           y
count  100.000000  100.000000
mean     0.013946    0.456953
std      0.941967   36.568258
min     -2.499103  -90.642957
25%     -0.574431  -21.890572
50%     -0.008229   -0.723162
75%      0.647435   22.611141
max      2.207857   87.508289

In [47]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 1].values

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
X_test = dataTest.iloc[:, :-1].values

In [49]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [50]:
print(regressor.intercept_)
print(regressor.coef_)

-0.513628117705851
[38.44902707]

In [51]:
y_pred = regressor.predict(X_test)

In [57]:
data = pd.DataFrame({'X': X_test.ravel(), 'y': y_pred.ravel()})
x = np.round(data['X'],2)
y = np.round(data['y'],3)
data = pd.DataFrame({'X': x.ravel(), 'y': y.ravel()})
data

        X        y
0    3.00  114.833
1    3.01  115.218
2    3.02  115.602
3    3.03  115.987
4    3.04  116.371
..    ...      ...
395  6.95  266.707
396  6.96  267.092
397  6.97  267.476
398  6.98  267.861
399  6.99  268.245

[400 rows x 2 columns]

In [58]:
data.to_csv("test.csv", index=False)